.wrapper {
    padding: 1em;

    .header {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1em;
        padding-bottom: 1em;
        width: 100%;

        .selector {
            display: flex;
            gap: 0.5em;
            justify-content: space-between;
        }
        
        .date {
            width: auto;
            font-size: 0.95em;

            margin-left: 0.25em;
            padding-left: 0.25em;
            padding-right: 0.25em;

            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 0.15em;
            color: #4FACF7;

            .closeIcon {
                margin-left: 0.50em;
                font-size: xx-small;
                margin-bottom: 0.4em;
            }
        }
    }
}