.aboutBoard {
    .icon {
        display: inline-block;
        height: 0.7em;
        width: 0.7em;
        padding: 0.4em;
        border-radius: 50%;
        background-color: #282c34;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }

    width: 25em;
    max-width: 90%;

    height: 32.5em;
    
    padding: 1.5em 2em 1.5em 2em;

    border-radius: 0.45em 0.45em 0.45em 0.45em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    h1 {
        font-size: 1.9em;
    }

    .functionWrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 3em;
    }

    .getBox {
        width: 100%;
        margin-top: 3em;

        span {
            font-size: 1.2em;
        }

        ul {
            width: fit-content;
            list-style: none;
            
            padding-left: 0em;
            padding-top: 1em;
            margin-left: 4em;
            margin-top: 0.25em;

            border-left: 2px solid rgba(255, 255, 255, 0.1);

            li {
                display: flex;
                align-items: center;
                margin-left: -1em;
                margin-bottom: 1em;

                span {
                    margin-left: 0.5em;
                    font-size: 1em;
                }
            }
        }
    }

    .chartSvg {
        margin-top: -3em;
        margin-left: 9em;
        opacity: 80%;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3em;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        
            span {
                margin-top: 0.5em;
            }
        }
    }
}