.functionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 5em;
    height: 5em;

    background-color: #272b36;
    border: 2px solid #303744;
    border-radius: 0.4em 0.4em 0.4em 0.4em;

    span {
        display: block;
        font-size: 0.9em;
    }
}
