.textInputWrapper {
    width: 100%;
    display: flex;
    justify-content: left;

    input[type=text] {
        color: #fff;
        font-size: 1em;
        background: none;
        border: none;
        border-bottom: 0.125em solid hsla(0, 0%, 100%, 0.9);
        display: block;
        text-align: left;
        margin: 0 auto 0.5em;
        width: 100%;
    }

    input[type=text]:focus {
        outline: none;
    }

    span {
        font-size: 1em;
        width: min-content;
        margin-right: 0.5em;
    }
}