.head {
    margin: 0.25em;
}

.authForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20em;
    
    gap: 1em;
    padding-top: 1em;

    .forgotPassword {
        color: #6A718A;
    }
}

.authPage {
    display: flex;
    justify-content: center;
}