.board {
    margin-top: 1em;

    background: #282c34;
    width: fit-content;
    height: fit-content;

    border: 2px solid white;
    border-radius: 0.3em 0.3em 0.6em 0.6em;

    margin-bottom: 3em;

    &.mobile {
        padding-left: 1em;
        padding-right: 1em;
    }

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .header {
        width: 100%;
        height: fit-content;
        background-color: transparent;
        display: flex;
        margin-top: -20px;

        &.left {
            justify-content: left;
            padding-left: 0.7em;
        }

        &.center {
            justify-content: center;
        }

        &.right {
            justify-content: right;
            padding-right: 0.7em;
        }

        h2 {
            padding: 0px 25px 0px 25px;
            width: fit-content;
            height: fit-content;
            background: #282c34;
            margin-top: 0em;
            margin-bottom: 0em;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
    }
}