.navigationHeadder {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0em 2em 0.5em;

	border-bottom: 1px solid #25262c;

	h1 {
		font-size: 1.7em;
	}

	@media screen and (max-width: 911px) {
		padding-left: 1em;
		padding-right: 1em;
	}

}

.navigation {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 18.5em;
	z-index: 97;

	background: #1e1f25;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

	padding: 0 1.7em;
	padding-bottom: 2em;

	.headder {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			text-align: left;
			font-size: 1.7em;
		}

		.icon {
			cursor: pointer;
		}
	}

	nav {
		display: flex;
		flex-direction: column;

		vertical-align: middle;
		background: transparent;
		white-space: nowrap;

		a {
			display: inline-block;

			text-align: left;
			border-radius: 0.5em;
			color: #b5b7bf;
			font-size: 1.1em;
			font-weight: 800;
			text-decoration: none;
			margin-top: 0.5em;

			cursor: pointer;
			padding: 0.7em 1em;

			&.active {
				color: white;
				background-color: #26272d;
			}

			.icon {
				margin-right: 0.75em;
			}
		}
	}

	.childrenWrapper {
		margin-top: 3em;
	}
}