.problems {
    padding-left: 0px;

    .problem {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 0.5em;
        text-align: left;
        color: #6A718A;
    }
}