.view {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .formWrapper {
        width: 20em;
        height: auto;
    
        display: block;
    
        border: 2px solid white;
        border-radius: 0.3em 0.3em 0.6em 0.6em;
    
        justify-content: center;
    
        .header {
            width: 100%;
            background-color: transparent;
            display: flex;
            justify-content: center;
    
    
            h1 {
                margin-top: -20px;
                padding: 0px 25px 0px 25px;
                width: fit-content;
                height: fit-content;
                background-color: #282c34;
            }
        }
    
        form {
            margin-top: 50px;
    
            input[type=email],
            input[type=password] {
                color: #fff;
                font-size: 1em;
                background: none;
                border: none;
                border-bottom: 0.125em solid hsla(0, 0%, 100%, 0.9);
                display: block;
                text-align: left;
                margin: 0 auto 0.5em;
            }
    
            input[type=email],
            input[type=password]:focus {
                outline: none;
            }
    
            input[type=password] {
                margin-top: 2em;
    
                &.invalid {
                    border-bottom-color: rgb(255, 78, 78);
                }
            }
    
            .errorMessage {
                color: rgb(255, 78, 78);
                font-size: 1em;
            }

            a {
                font-size: 0.9em;
                color: white;
            }
    
            .buttonWrapper {
                margin-top: 3.1em;
                display: flex;
                justify-content: right;
                padding: 1em;
    
                input[type=submit] {
                    padding: 0.5em 0.7em 0.5em 0.7em;
                    font-size: 1em;
                    background-color: transparent;
                    color: #61dafb;
                    border: 2px solid white;
                    border-radius: 0.3em 0.3em 0.3em 0.3em;
                }
    
            }
        }
    }
}