.adminNavigation {
    display: flex;
    width: 100%;

    nav {
        width: fit-content;
        display: flex;
	    background: transparent;

        a {
            color: white;
            font-size: 1.1em;
            font-weight: 800;
            text-decoration: none;

            cursor: pointer;
            padding: 0.575em 0.65em;
            display: inline-block;

            &.active {
                text-decoration: underline #61dafb;
            }
        }

        a:first-child {
            padding-left: 0em;
        }
    }

    .adminPanel {
        display: flex;
        width: 100%;
        justify-content: right;
        align-items: center;

        .icon {
            padding-right: 0.5em;
        }

        .icon:last-child {
            padding-right: 0em;
        }
    }
}