.error {
    color: rgb(255, 78, 78);
    font-size: 1.1em;
    margin: 0.5em;
}

.theInput {
    width: 100%;
    display: flex;
    justify-content: left;

    font-size: 1.1em;

    input[type=text],
    input[type=email],
    input[type=number] {
        color: #fff;
        background: none;
        border: none;
        border-bottom: 0.125em solid hsla(0, 0%, 100%, 0.9);
        display: block;
        text-align: left;
        margin: 0 auto 0.5em;
        width: 100%;
        font-size: inherit;
        margin-bottom: 0em;
    }

    input[type=text],
    input[type=email],
    input[type=number]:focus {
        outline: none;
    }

    span {
        width: min-content;
        margin-right: 0.5em;
        font-size: inherit;
    }
}

.switchInput {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;

    span {
        font-size: inherit;
        width: min-content;
        margin-right: 0.5em;
    }

    .icon {
        &.on {
            color: #61dafb;
        }

        &.off {
            color: rgb(255, 78, 78);
        }

        &.disabled {
            color: grey;
        }
    }
}

.selectInput {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;

    span {
        font-size: inherit;
        width: min-content;
        margin-right: 0.5em;
    }

    select {
        color: white;
        font-size: 1em;
        background: none;
        border: none;
        border-bottom: 0.125em solid hsla(0, 0%, 100%, 0.9);
        display: block;
        text-align: left;
        width: auto;

        background-color: inherit;
    }
}

.theButton {
    display: flex;
    justify-content: right;

    input[type=button] {
        padding: 0.5em 0.7em 0.5em 0.7em;
        font-size: 1em;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.3em 0.3em 0.3em 0.3em;

        &.red {
            color: rgb(255, 78, 78);
        }

        &.blue {
            color: #61dafb;
        }
    }
}

.theForm {
    .childrenWrapper {
        display: flex;
        align-items: right;
        justify-content: center;
        flex-direction: column;

        row-gap: 1.2em;

        padding: 1.5em;
    }

    .buttonWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding-bottom: 0.5em;
        padding-right: 0.7em;
        padding-left: 1.5em;

        .errorMessage {
            color: rgb(255, 78, 78);
            font-size: 1.1em;
        }
    }
}