.view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    padding: 1.25em 0em;
    width: 100%;

    .verticalWrapper {
        display: flex;
        gap: 4em;
        width: 100%;
        flex-direction: column;
        row-gap: 0.5em;
        width: fit-content;
        max-width: 95%;
    }
}