.menuOfAdminMachine {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h2 {
            font-size: 1.5em;
        }

        .icon {
            cursor: pointer;
            margin-right: 0.7em;
        }

        .icon:last-child {
            margin-right: 0em;
        }
    }

    ul {
        list-style: none;
        padding-left: 0em;
        margin-bottom: 0em;
        max-height: 15em;
        overflow: hidden; 
        overflow-y: scroll;
        margin-top: 0em;

        li {
            display: flex;
            height: 3em;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding-left: 1em;
            padding-right: 1em;
            width: auto;
            color: #b5b7bf;
            cursor: pointer;

            h3 {
                width: auto;
                margin-top: 0em;
                margin-bottom: 0em;
                font-size: 1.1em;
            }

            .status {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
            
                div {
                    margin-left: 0.7em;
                }
            }

            &.activate {
				background-color: #26272d;
                border-radius: 0.45em;
                color: white;
            }

            div:first-child {
                margin-right: 2em;
            }

            .userTrashWrapper {
                display: flex;
                width: 3em;
                justify-content: space-between;

                .icon {
                    &.red {
                        color: rgb(255, 78, 78);
                    }
                }
            }
        }

        li:first-child {
            margin-bottom: 0em;
            margin-top: 0em;
        }
    }
}