.machineView {
    display: flex;

    padding: 1em;

    &.settings {
        display: flex;
        align-items: center;
        justify-content: center;

        .error {
            color: rgb(255, 78, 78);
            margin-bottom: 2em;
        }
    }

    &.delete {
        justify-content: space-between;

        span {
            display: flex;
            align-items: center;
            width: fit-content;
            font-size: 1.1em;
            text-align: left;
        }

        &.mobile {
            justify-content: space-between;
            flex-direction: column;

            span {
                margin-bottom: 1em;
            }
        }
    }

    &.delete:first-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}