.machineView {
    display: flex;

    padding-top: 1em;
    padding-bottom: 1em;

    border-top: 1px solid rgba(255, 255, 255, 0.1);

    &.settings {
        display: flex;
        align-items: center;
        justify-content: center;

        .error {
            color: rgb(255, 78, 78);
            margin-bottom: 2em;
        }

        
    }
}