.view {
    display: flex;

    .logoWrapper {
        width: 50%;
        height: auto;

        .logo {
            width: 20em;
            margin-top: 5em;
            pointer-events: none;
        }
    }

     
    .aboutWrapper {
        width: 50%;
        padding-top: 2em;

        p {
            margin-top: 0em;
            margin-bottom: 0.5em;
        }
    }
}