.view {
    .headder {
        display: flex;
        justify-content: right;

        margin-bottom: 0em;
    }

    .noRecords {
        margin-top: 3em;

        img {
            width: 9em;
        }
    }

    &.desktop {
        display: flex;
        width: 100%;
    }
}