.view {
    display: flex;
    justify-content: space-around;

    .noRecords {
        margin-top: 3em;

        img {
            width: 9em;
        }
    }

    .machineWrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 7em;
    }

    @media only screen and (max-width: 1850px) {
        .machineWrapper {
            flex-direction: column;
        }
    }
}