.view {
    display: flex;
    justify-content: center;

    margin-left: 21.5em;
    
    padding: 1.25em 3.4em;

    .machineWrapper {
        display: flex;
        gap: 4em;
        width: 100%;
    }

    @media only screen and (max-width: 1335px) {
        margin-left: 0em;
        padding: 1.2em 0em;

        width: 100%;

        .machineWrapper {
            flex-direction: column;
            row-gap: 0.5em;
            width: auto;
            max-width: 95%;
        }
    }

    @media only screen and (max-width: 1765px) and (min-width: 1336px) {
        .machineWrapper {
            flex-direction: column;
            row-gap: 0.5em;
            width: auto;
        }
    }
}