// @import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,800');

body {
	font-size: 16px;
	color: white;
	background-color: #001220;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	color: #61dafb;
	outline: none;
}

h1 {
	// color: #61dafb;

	font: {
		size: 2.25em;
		weight: 800;
		style: normal;
	}

	text-align: center;
	letter-spacing: -1px;
}

.App {
	font: {
		size: 1em;
		family: 'Nunito Sans', helvetica, arial, sans-serif;
		weight: 600;
	}

	text-align: center;
	margin: 0em auto 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
	justify-content: center;

	padding-bottom: 3em;
}

header {
	margin-bottom: 3em;
}

.content {
	font-size: 1.15em;
	line-height: 1.5em;
	width: 50em;
}

article {
	text-align: left;
}

@media screen and (max-width: 520px) {
	.App {
		font-size: 0.85em;
	}
}

input:focus {
	outline: none;
}