.listOfMachines {
    width: 100%;
    height: 100%;

    padding-left: 0;
    list-style: none;
    
    .machineLi {
        margin-bottom: 3em;
        width: 100%;

        .icon {
            &.yellow {
                color: rgb(255, 255, 78);
            }

            &.red {
                color: rgb(255, 78, 78);
            }
        }
    }

    .machineLi:last-child {
        margin-bottom: 0em;
    }
}