.machineView {
    display: flex;

    padding-top: 1em;
    padding-bottom: 1em;
    
    &.info {
        align-items: center;
        justify-content: space-evenly;
    }

    &.charts {
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;

        .noRecords {
            width: 100%;
            text-align: left;
        }

        .optionPanel {
            width: 100%;
            display: flex;
            justify-content: left;
            margin-bottom: 1em;

            &.mobile {
                flex-direction: column;

                div:last-child {
                    margin-top: 0.5em;
                }
            }

            div {
                display: flex;
            }

            select {
                width: fit-content;
                height: fit-content;

                margin-right: 0.25em;
                margin-left: 0.25em;

                color: white;
                font-size: 1em;
                background: none;
                border: none;
                border-bottom: 0.05em solid #61dafb;
                display: block;
                text-align: left;
            }

            .date {
                width: auto;
                font-size: 0.95em;

                margin-left: 0.25em;
                padding-left: 0.25em;
                padding-right: 0.25em;

                border-bottom: 0.05em solid #61dafb;

                .closeIcon {
                    margin-left: 0.50em;
                    font-size: xx-small;
                    margin-bottom: 0.4em;
                }
            }
        }
    }

    &.settings {
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            display: flex;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            flex-direction: column;
            justify-content: space-evenly;
            height: auto;
            width: 14em;

            input[type=text],
            input[type=number] {
                color: #fff;
                font-size: 1em;
                background: none;
                border: none;
                border-bottom: 0.125em solid hsla(0, 0%, 100%, 0.9);
                display: block;
                text-align: left;
                margin: 0 auto 0.5em;
            }
        
            input[type=text],
            input[type=number] {
                margin-bottom: 0em;
            }

            input[type=text],
            input[type=number]:focus {
                outline: none;
            }

            label {
                font-size: 0.9em;
                width: min-content;
            }
        }

        .error {
            color: rgb(255, 78, 78);
        }
    }

    &.release {
        display: flex;
        flex-direction: column;
        justify-content: left;

        u {
            text-decoration: underline #61dafb;
        }

        .date {
            border-bottom: 0.05em solid #61dafb;
        }
    }

    &.problems {
        padding: 1em;

        ul {
            padding-left: 0;
            list-style: none;
            width: auto;

            li {
                margin-bottom: 0.5em;
            }
            li:last-child {
                margin-bottom: 0em;
            }
        }

        .icon {
            margin-right: 0.25em;
        
            &.red {
                color: rgb(255, 78, 78);
            }

            &.yellow {
                color: rgb(255, 255, 78);
            }
        }

        p {
            width: 100%;
        }
    }
}
