.deleteBoard {
    width: 45em;
    max-width: 95%;

    .delete {
        display: flex;
        justify-content: space-between;

        padding: 1em;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        span {
            display: flex;
            align-items: center;
            width: fit-content;
            font-size: 1.1em;
            text-align: left;
        }

        @media only screen and (max-width: 470px) {
            justify-content: space-between;
            flex-direction: column;

            span {
                margin-bottom: 1em;
            }
        }
    }

    .delete:last-child {
        border-bottom: none;
    }
}