.machineProblems {
    padding: 1em;

    ul {
        padding-left: 0;
        list-style: none;

        li {
            margin-bottom: 0.5em;
            
            .problem {
                display: flex;

                span {
                    width: 100%;
                    text-align: left;
                }

                .iconWrapper {
                    height: 100%;
                    width: fit-content;
        
                    margin-right: 0.5em;

                    &.red {
                        color: rgb(255, 78, 78);
                    }
        
                    &.yellow {
                        color: rgb(255, 255, 78);
                    }
                }
            }
        }

        li:last-child {
            margin-bottom: 0em;
        }
    }

    .noProblemWrapper {
        padding: 1em 0em;
        text-align: left;

        .icon {
            color: #61dafb;
            margin-right: 0.5em;
        }
    }
}