.menuOfMachine {
    .refreshWrapper {
        display: flex;
        justify-content: right;
        padding-right: 0.65em;
        margin-top: -1.5em;

        div {
            padding: 0.25em;
            padding-top: 0em;
            background-color: #282c34;;
        }
    }

    ul {
        list-style: none;
        padding-left: 0em;
        margin-bottom: 0em;
        width: 22em;

        li {
            display: flex;
            height: 3em;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding-left: 1em;
            padding-right: 1em;
            width: auto;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            h3 {
                margin-top: 0em;
                margin-bottom: 0em;
            }

            .status {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
            
                div {
                    margin-left: 0.7em;
                }
            }   
        
            &.activate {
                h3 {
                    color: #61dafb;
                }        
            }
        }

        li:first-child {
            margin-bottom: 0em;
            margin-top: 0em;
        }

        li:last-child {
            border-bottom: none;
            margin-bottom: 0em;
            border-radius: 0em 0em 0.6em 0.6em;
        }
    }
}