.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6A718A;

    .help {
        margin: 0;
        text-align: left;
        font-size: 1.2em;
    
        a {
            color: #6A718A;
        }

        a:hover {
            color: #4FACF7;
        }
    }

    .iconWrapper {
        display: flex;
        justify-content: space-between;
        gap: 0.5em;

        .icon {
            cursor: pointer;
        }
    }
}